### Read the following data set:
    
    https://archive.ics.uci.edu/ml/machine-learning-databases/adult/
    Rename the columns as per the description from this file:
    https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names
    Task:
    Create a sql db from adult dataset and name it sqladb
#### 1. Select 10 records from the adult sqladb

In [1]:
import pandas as pd

In [2]:
col_names = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country']
adult_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",header=None,names=col_names,index_col=False)
adult_data.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States

#### 2. Show me the average hours per week of all men who are working in private sector

In [13]:
adult_data[adult_data["workclass"]==" Private"].groupby("workclass")["hours-per-week"].mean()

workclass
 Private    40.267096
Name: hours-per-week, dtype: float64

#### 3. Show me the frequency table for education, occupation and relationship, separately

In [16]:
pd.crosstab(index=adult_data["education"],columns="count")

col_0          count
education
 10th            933
 11th           1175
 12th            433
 1st-4th         168
 5th-6th         333
 7th-8th         646
 9th             514
 Assoc-acdm     1067
 Assoc-voc      1382
 Bachelors      5355
 Doctorate       413
 HS-grad       10501
 Masters        1723
 Preschool        51
 Prof-school     576
 Some-college   7291

In [17]:
pd.crosstab(index=adult_data["occupation"],columns="count")

col_0               count
occupation
 ?                   1843
 Adm-clerical        3770
 Armed-Forces           9
 Craft-repair        4099
 Exec-managerial     4066
 Farming-fishing      994
 Handlers-cleaners   1370
 Machine-op-inspct   2002
 Other-service       3295
 Priv-house-serv      149
 Prof-specialty      4140
 Protective-serv      649
 Sales               3650
 Tech-support         928
 Transport-moving    1597

In [18]:
pd.crosstab(index=adult_data["relationship"],columns="count")

col_0            count
relationship
 Husband         13193
 Not-in-family    8305
 Other-relative    981
 Own-child        5068
 Unmarried        3446
 Wife             1568

#### 4. Are there any people who are married, working in private sector and having a masters degree

In [28]:
adult_data[(adult_data["marital-status"].str.startswith(" Married")) & (adult_data["workclass"]==" Private") & (adult_data["education"]==" Masters")]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States
87,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
188,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States
198,35,Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States
311,34,Private,142897,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,7298,0,35,Taiwan
361,62,Private,270092,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
405,41,Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States
435,33,Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
468,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States
606,51,Private,410114,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
697,31,Private,118710,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,1902,40,United-States
777,34,Private,73585,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?
895,40,Private,170108,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
916,43,Private,158926,Masters,14,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,50,South
927,51,Private,138022,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States
951,43,Private,227065,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,43,United-States
1014,38,Private,173208,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States
1145,33,Private,354573,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,44,United-States
1172,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States
1197,59,Private,151616,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States
1224,38,Private,22245,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,?
1293,46,Private,279661,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,35,United-States
1341,57,Private,89392,Masters,14,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
1378,65,Private,198766,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,20051,0,40,United-States
1593,55,Private,98361,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,?
1612,45,Private,46406,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,36,England
1642,48,Private,126754,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States
1699,54,Private,177927,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States
1709,43,Private,201723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India
31400,50,Private,201882,Masters,14,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,30,United-States
31420,44,Private,267717,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,42,United-States
31425,30,Private,182771,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States
31434,39,Private,198841,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,45,United-States
31435,53,Private,53197,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States
31450,55,Private,70088,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
31451,36,Private,199346,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States
31456,30,Private,378009,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
31468,35,Private,75855,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,7298,0,40,?
31592,59,Private,59469,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,Iran
31596,39,Private,72338,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines
31727,50,Private,176157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
31802,30,Private,341051,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States
31816,43,Private,346321,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States
31828,47,Private,155664,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,United-States
31907,48,Private,379883,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Cuba
31946,49,Private,123681,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,43,United-States
32009,43,Private,174295,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States
32049,32,Private,313835,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
32114,40,Private,137225,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
32200,25,Private,178025,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
32267,31,Private,183801,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,43,United-States
32300,61,Private,232719,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
32365,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States
32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States
32472,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States
32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States

#### 5. What is the average, minimum and maximum age group for people working in different sectors

In [29]:
adult_data.groupby("workclass")["age"].agg([pd.np.min, pd.np.max, pd.np.mean])

                   amin  amax       mean
workclass
 ?                   17    90  40.960240
 Federal-gov         17    90  42.590625
 Local-gov           17    90  41.751075
 Never-worked        17    30  20.571429
 Private             17    90  36.797585
 Self-emp-inc        17    84  46.017025
 Self-emp-not-inc    17    90  44.969697
 State-gov           17    81  39.436055
 Without-pay         19    72  47.785714

#### 6. Calculate age distribution by country

In [33]:
pd.crosstab(index=adult_data["native-country"],columns=adult_data["age"])

age,17,18,19,20,21,22,23,24,25,26,...,80,81,82,83,84,85,86,87,88,90
native-country,,,,,,,,,,,,,,,,,,,,,
?,2,8,5,10,11,12,6,14,11,18,...,0,2,0,0,0,0,0,0,0,1
Cambodia,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Canada,2,1,1,2,0,1,3,3,5,2,...,1,0,0,0,0,0,0,0,0,0
China,0,0,0,0,0,1,2,2,1,0,...,0,0,0,0,0,0,0,0,0,0
Columbia,0,1,0,0,3,0,2,0,4,3,...,0,0,0,0,0,0,0,0,0,0
Cuba,0,0,0,0,2,0,3,0,1,0,...,0,0,1,0,0,0,0,0,0,0
Dominican-Republic,0,1,0,0,3,3,4,3,2,3,...,0,0,0,0,0,0,0,0,0,0
Ecuador,0,0,0,0,1,0,1,2,1,0,...,0,0,0,0,0,0,0,0,0,1
El-Salvador,2,0,4,5,2,2,6,7,8,3,...,0,0,0,0,0,0,0,0,0,0
England,1,0,2,1,1,1,2,3,1,1,...,0,0,0,0,0,0,0,0,0,1
France,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Germany,0,1,0,5,3,4,1,2,0,3,...,0,0,0,0,0,0,0,0,0,0
Greece,0,0,0,0,0,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Guatemala,0,0,3,3,2,3,4,1,6,2,...,0,0,0,0,0,0,0,0,0,0
Haiti,1,0,1,1,0,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
Holand-Netherlands,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Honduras,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Hong,0,0,1,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
Hungary,0,0,0,0,0,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
India,1,1,0,1,1,2,1,2,3,3,...,0,0,0,0,0,0,0,0,0,0
Iran,0,0,0,0,0,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Ireland,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Italy,0,0,1,1,1,1,0,1,2,0,...,0,0,0,0,0,0,0,0,0,0
Jamaica,0,1,1,0,3,3,2,4,4,3,...,0,0,0,0,0,0,0,0,0,0
Japan,0,0,2,0,0,0,0,1,1,2,...,0,0,0,0,0,0,0,0,0,0
Laos,0,0,2,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Mexico,6,6,14,18,24,24,32,25,39,22,...,0,1,0,0,0,0,0,0,0,0
Nicaragua,0,0,2,4,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
Outlying-US(Guam-USVI-etc),0,0,0,0,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
Peru,2,1,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Philippines,1,2,2,2,1,4,6,5,3,6,...,0,0,0,0,0,0,0,0,0,1
Poland,1,0,0,0,1,0,2,0,3,2,...,0,1,0,0,0,1,0,0,0,0
Portugal,0,0,1,0,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
Puerto-Rico,1,0,3,2,1,1,5,1,1,3,...,0,0,0,0,0,0,0,0,0,1
Scotland,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South,0,0,3,2,1,5,3,3,0,3,...,0,0,0,0,0,0,0,0,0,1
Taiwan,0,0,0,1,1,2,1,2,3,2,...,0,0,0,0,0,0,0,0,0,0
Thailand,0,0,2,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
Trinadad&Tobago,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
United-States,374,524,659,689,651,683,771,705,734,694,...,21,15,11,6,10,2,1,1,3,37
Vietnam,0,0,2,3,3,3,10,2,3,1,...,0,0,0,0,0,0,0,0,0,0
Yugoslavia,0,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

#### 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [36]:
adult_data["Net-Capital-Gain"] = adult_data["capital-gain"] - adult_data["capital-loss"]
adult_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Net-Capital-Gain
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,2174
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0